sentry-sdk==2.33.2
torchvision==0.11.2+cu111
pydantic_core==2.27.2
requests==2.32.4
torch==1.10.1+cu111
click==8.1.8
pydantic==2.10.6
albumentations==1.1.0
Pygments==2.19.2
distro==1.9.0
annotated-types==0.7.0
mmcv-full==1.4.0
tqdm==4.64.0
open3d==0.15.2
importlib-metadata==3.4.0
protobuf==5.29.5
torchaudio==0.10.1+rocm4.1
pyquaternion==0.9.9
scipy==1.5.4
opencv-contrib-python==4.5.5.64
ortools==9.3.10497
eval_type_backport==0.2.2
pillow==10.4.0
qudida==0.0.4
numpy==1.19.5
platformdirs==4.3.6
wandb==0.21.0
importlib-resources==5.4.0
urllib3==2.2.3
scikit-image==0.17.2
addict==2.4.0
natsort==8.4.0
matplotlib==3.3.4
typing_extensions==4.13.2
tifffile==2023.7.10
charset-normalizer==3.4.2
scikit-build==0.14.1
opencv-python-headless==4.5.5.64
MultiScaleDeformableAttention==1.0
httplib2==0.19.1
Flask==1.1.4
google-resumable-media==1.3.1
typing-inspect==0.7.1
pynvml==8.0.4
psutil==5.7.0
gast==0.3.3
convertdate==2.3.2
jedi==0.17.2
yarl==1.4.2
jupyterlab-hdf==0.5.1
apache-beam==2.30.0
QtPy==1.9.0
astroid==2.3.3
tqdm==4.59.0
python-json-logger==2.0.1
yapf==0.29.0
joblib==1.0.1
text-unidecode==1.3
cligj==0.7.2
cffi==1.14.5
jupyter-kite==2.0.2
pyaml==19.12.0
pystan==2.19.1.1
mypy-extensions==0.4.3
optax==0.0.1
schema==0.7.1
msgpack==1.0.2
partd==1.2.0
gin-config==0.4.0
grpcio-gcp==0.2.2
elegy==0.7.0
gunicorn==20.1.0
backcall==0.2.0
jupyter-console==6.4.0
atlas==0.27.0
distributed==2021.6.1
multidict==5.1.0
vecstack==0.4.0
chex==0.0.7
atomicwrites==1.4.0
jupyter-js-widgets-nbextension==0.0.2.dev0
tensorboardX==2.2
ipython-genutils==0.2.0
tensorflow==2.3.3
sacred==0.8.1
hdf5storage==0.1.18
cryptography==3.4.7
fsspec==2021.6.0
attrs==21.2.0
googleapis-common-protos==1.53.0
pytest==5.4.3
Keras-Preprocessing==1.1.2
munch==2.5.0
dash==1.20.0
dash-renderer==1.9.1
MarkupSafe==2.0.1
mmdnn==0.3.1
jupyter-latex-envs==1.4.6
scooby==0.5.7
mock==3.0.5
evdev==1.4.0
oauthenticator==0.13.0
toml==0.10.2
HeapDict==1.0.1
jupyterhub-kubespawner==0.16.1
mdit-py-plugins==0.2.8
osqp==0.5.0
mccabe==0.6.1
pyflakes==2.1.1
importlib-resources==5.1.4
pyasn1==0.4.8
numba==0.53.1
autopep8==1.5.2
SQLAlchemy==1.4.13
pycocotools==2.0.0
jupyter-telemetry==0.1.0
json-tricks==3.15.5
h5py==2.10.0
tables==3.6.1
ipyparallel==6.3.0
nbconvert==6.0.7
dtreeviz==1.3
future==0.18.2
cycler==0.10.0
astropy==4.2.1
nbdime==3.1.0
ipywidgets==7.6.3
pytz==2019.3
wheel==0.36.2
soynlp==0.0.493
jupyter-packaging==0.10.2
ply==3.11
uritemplate==3.0.1
crcmod==1.7
PyMeeus==0.5.11
cachetools==4.2.2
pyzmq==19.0.0
pickleshare==0.7.5
pyvo==1.0
google-images-download==2.8.0
branca==0.4.2
async-timeout==3.0.1
six==1.14.0
webencodings==0.5.1
dm-tree==0.1.6
idna-ssl==1.1.0
python-jose==3.2.0
nbformat==5.1.3
flatbuffers==2.0
python-slugify==5.0.0
eliot==1.13.0
google-cloud-core==1.7.0
pygal==2.4.0
dill==0.3.1.1
s3transfer==0.2.1
netifaces==0.11.0
jupyterlab-widgets==1.0.0
boltons==21.0.0
packaging==20.3
mecab-python==0.996-ko-0.9.2
imbalanced-learn==0.8.0
uvloop==0.14.0
beautifulsoup4==4.6.0
querystring-parser==1.2.4
ruamel.yaml==0.16.10
scikit-learn==0.24.2
pycodestyle==2.5.0
Send2Trash==1.5.0
typeguard==2.11.1
regex==2020.2.20
zipp==3.4.1
jupyterhub==1.4.1
pygame==2.0.1
PyWavelets==1.1.1
Fiona==1.8.20
plotly==4.5.3
pbr==5.5.0
tensorboard-data-server==0.6.1
colorama==0.4.4
tensorflow-estimator==2.3.0
flake8==3.7.9
entrypoints==0.3
fire==0.4.0
pyparsing==2.4.6
oauth2client==4.1.3
Flask-Compress==1.10.1
librosa==0.7.0
portpicker==1.3.1
google-api-python-client==2.9.0
jupyterthemes==0.20.0
dask==2021.6.1
smart-open==1.9.0
jupyterlab==3.0.16
opencv-python==4.5.2.54
kss==2.5.1
xgboost==1.5.0.dev0
jupyter-dash==0.4.0
databricks-cli==0.14.3
PySocks==1.7.1
category-encoders==2.2.2
certipy==0.1.3
promise==2.3
pycairo==1.19.0
progressbar==2.5
setuptools-git==1.2
resampy==0.2.1
rope==0.16.0
tornado==6.1
wrapt==1.11.2
atari-py==0.2.9
filelock==3.0.12
Cython==0.29.23
mne==0.23.0
colored==1.4.2
meshio==4.4.6
markdown-it-py==1.1.0
google-cloud-pubsub==2.6.0
graphviz==0.16
retrying==1.3.3
ruamel.yaml.clib==0.2.0
python-speech-features==0.6
deap==1.3.1
decorator==4.4.2
pymongo==3.10.1
Keras-Applications==1.0.8
python-language-server==0.33.1
termstyle==0.1.11
selenium==3.141.0
PyQt5-sip==12.8.1
GitPython==3.1.18
testpath==0.4.4
ipykernel==5.5.5
google-cloud-bigtable==2.2.0
threadpoolctl==2.1.0
async-generator==1.10
grpc-google-iam-v1==0.12.3
audioread==2.1.9
importlib-metadata==4.5.0
konlpy==0.5.2
anyio==3.2.0
pandas==1.1.5
lazy-object-proxy==1.4.3
boto==2.49.0
Jinja2==2.11.3
gensim==4.0.1
jupyter-server==1.8.0
nest-asyncio==1.5.1
sqlparse==0.4.1
featuretools==0.24.0
docutils==0.15.2
lesscpy==0.14.0
lightgbm==3.2.1
lightgbm==3.2.1
prometheus-client==0.7.1
threadpool==1.3.2
escapism==1.0.1
pyls-black==0.4.4
python-editor==1.0.4
gym==0.18.3
dm-haiku==0.0.2
Pygments==2.5.2
google-auth-httplib2==0.1.0
EasyProcess==0.3
fasteners==0.16.3
python-xlib==0.29
chardet==3.0.4
pyvista==0.24.3
patsy==0.5.1
hijri-converter==2.1.3
PyQt5==5.15.0
stopit==1.1.2
ecdsa==0.14.1
update-checker==0.16
flax==0.3.4
jupyterlab-launcher==0.13.1
requests==2.24.0
nvidia-pyindex==1.0.9
ipython==7.24.1
pyproj==2.5.0
scikit-nni==0.2.1
terminado==0.8.3
namedlist==1.8
libcst==0.3.19
bleach==3.3.0
google-pasta==0.2.0
qtconsole==4.7.1
statsmodels==0.11.1
google-crc32c==1.1.2
avro-python3==1.9.2.1
pycparser==2.19
termcolor==1.1.0
zict==2.0.0
lunardate==0.2.0
folium==0.12.1
scikit-image==0.16.2
pluggy==0.12.0
idna==2.10
simpleaudio==1.0.4
google-cloud-datastore==2.1.3
numexpr==2.7.3
pyasn1-modules==0.2.8
ujson==1.35
bokeh==2.3.2
docker==5.0.0
imageio==2.9.0
kiwisolver==1.3.1
Markdown==3.3.4
vtk==9.0.1
pyarrow==0.17.0
numpy==1.18.5
absl-py==0.13.0
test-generator==0.1.1
PythonWebHDFS==0.2.3
iso8601==0.1.14
cloudpickle==1.6.0
mlxtend==0.18.0
dacite==1.6.0
google-auth-oauthlib==0.4.4
nltk==3.6.2
oauthlib==3.1.1
toolz==0.10.0
dash-core-components==1.16.0
requests-oauthlib==1.3.0
hdfs==2.6.0
jupyter-lsp==1.3.0
google-cloud-dlp==3.1.1
colour==0.1.5
jupyter-contrib-nbextensions==0.5.1
google-apitools==0.5.32
websocket-client==0.59.0
SoundFile==0.10.3.post1
adanet==0.9.0
typing-extensions==3.7.4.3
pydotplus==2.0.2
aiohttp==3.7.4.post0
pyOpenSSL==19.1.0
scikit-plot==0.3.7
contextlib2==0.5.5
jupyterlab-lsp==3.7.0
nose==1.3.7
PyQtWebEngine==5.15.2
mistune==0.8.4
ansi2html==1.6.0
jupyterlab-pygments==0.1.2
tabulate==0.8.7
JPype1==1.3.0
jupyterlab-github==2.0.0
msgpack-python==0.5.6
bayesian-optimization==1.2.0
jupyterhubutils==0.25.0
matplotlib==3.4.2
dash-html-components==1.1.3
traitlets==4.3.3
jupyterlab-nvdashboard==0.6.0
appdirs==1.4.4
json5==0.9.6
dopamine-rl==3.1.14
eliot-tree==21.0.0
Pillow==7.1.0
llvmlite==0.36.0
mimeparse==0.1.3
pexpect==4.8.0
plaidml-keras==0.7.0
multiprocess==0.70.9
widgetsnbextension==3.5.1
descartes==1.1.0
scikit-surprise==1.1.1
jax==0.2.14
more-itertools==8.8.0
opt-einsum==3.2.0
fastrlock==0.6
protobuf==3.12.2
pybind11==2.6.2
python-dateutil==2.8.1
networkx==2.5.1
pathspec==0.7.0
urllib3==1.25.11
PyVirtualDisplay==1.3.2
cvxpy==1.1.13
tensorboard-plugin-wit==1.8.0
versioneer==0.18
jupyter-client==6.1.12
geopandas==0.9.0
gitdb==4.0.7
nbclassic==0.3.1
deepdish==0.3.6
google-cloud-spanner==3.5.0
monotonic==1.6
lxml==4.6.3
lime==0.2.0.1
asgiref==3.3.4
astor==0.8.1
proto-plus==1.18.1
simpervisor==0.4
pandasgui==0.2.7
responses==0.13.3
Babel==2.9.1
jupyterlab-server==2.6.0
scikit-optimize==0.8.1
typed-ast==1.4.3
jupyterhub-jwtauthenticator==0.1
catboost==0.26
boto3==1.10.50
pandocfilters==1.4.2
jupyter-bokeh==3.0.2
enum34==1.1.10
pamela==1.0.0
jupyterlab-code-formatter==1.4.10
simplejson==3.17.0
ptyprocess==0.6.0
sniffio==1.2.0
holidays==0.11.1
jsonschema==3.2.0
sortedcontainers==2.1.0
tblib==1.7.0
jupyter-nbextensions-configurator==0.4.1
typing==3.7.4.3
alembic==1.6.5
click==7.1.2
google-auth==1.32.0
google-cloud-language==2.1.0
tomlkit==0.7.0
itsdangerous==1.1.0
google-api-core==1.30.0
jupyter==1.0.0
prompt-toolkit==2.0.10
geoplotlib==0.3.2
pytest-cov==2.10.0
notebook==6.4.0
jupyter-server-mathjax==0.2.3
Keras==2.2.4
greenlet==1.1.0
isort==4.3.21
deprecation==2.1.0
pynput==1.7.3
jupyter-server-proxy==3.0.2
prettytable==2.1.0
qgrid==1.3.1
jupyterlabutils==0.9.2
aiozmq==0.9.0
py-cpuinfo==5.0.0
parso==0.7.0
plaidml==0.7.0
jupyter-contrib-core==0.3.3
snowballstemmer==2.0.0
tf-slim==1.1.0
pydocstyle==5.0.2
grpcio==1.38.1
click-plugins==1.1.1
deepmerge==0.3.0
dash-table==4.11.3
jaxlib==0.1.67
docopt==0.6.2
zope.interface==5.4.0
aiocontextvars==0.2.2
jupyter-highlight-selected-word==0.2.0
black==21.4b0
jupytext==1.11.3
cmake==3.20.3
pyshp==2.1.0
google-cloud-videointelligence==2.2.0
prometheus-flask-exporter==0.18.2
pydot==1.4.1
jmespath==0.10.0
seaborn==0.10.0
rednose==1.3.0
astunparse==1.6.3
Werkzeug==1.0.0
jupyter-core==4.7.1
maproxy==0.0.12
Brotli==1.0.9
python-jsonrpc-server==0.3.4
botocore==1.13.50
pyerfa==1.7.3
ephem==4.0.0.2
korean-lunar-calendar==0.2.1
funcy==1.16
argo-workflows==3.6.1
py==1.8.0
rsa==4.0
smmap==4.0.0
matplotlib-inline==0.1.2
fastavro==1.4.1
defusedxml==0.7.1
semver==2.13.0
sacrebleu==1.3.6
jsonpickle==1.5.2
pyglet==1.5.0
Shapely==1.7.0
tweepy==3.10.0
ecos==2.0.7.post1
kubernetes==17.17.0
locket==0.2.1
hyperopt==0.1.2
google-cloud-vision==2.3.2
google-cloud-bigquery==2.20.0
pyrsistent==0.15.7
pyLDAvis==2.1.2
certifi==2021.5.30
argon2-cffi==20.1.0
pylint==2.4.4
nbclient==0.5.3
jupyterlab-git==0.30.1
wcwidth==0.1.8
coverage==4.5.4
pip==22.0.4
horovod==0.24.2
pretrainedmodels==0.7.4
torchtext==0.12.0
torch-tb-profiler==0.4.0
jsonargparse==4.3.1
nni==2.6.1
tensorboard==2.8.0
torchaudio==0.11.0+cu113
torch==1.11.0+cu113
mpi4py==3.1.3
cnn-finetune==0.6.0
PyYAML==6.0
keras4torch==1.2.4
torchvision==0.12.0+cu102
nvidia-dali-cuda110==1.11.1
mlflow==1.24.0
torch-model-archiver==0.3.0
enum-compat==0.0.3
torchmetrics==0.7.2
torchserve==0.5.3
pyDeprecate==0.3.0
websockets==10.2
setuptools==60.9.3
pytorch-lightning==1.3.4
scipy==1.6.2
scs==2.1.4
Mako==1.0.7
python-apt==1.6.5+ubuntu0.6
PyGObject==3.26.1
GDAL==2.2.2
